header,section,footer{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

header{
	height: 80px;
	/* background-color: #eebddb; */
	
/* 	background: -moz-linear-gradient(top, #65b6cf , #2c2c2c 100px);
	background:-webkit-linear-gradient(top, #65b6cf , #2c2c2c 100px); */
}

.banner{
	display: block;
	margin: auto;
	background-color: #b34789;
	text-align: center;
	margin: 0;
	
}
h1{
	text-align: center;
	padding: 8px;
	color: white !important;
	margin-bottom: 0 !important;

}

#logo{
    height: 80px;    
	float: left;
	border-radius: 10px;
	opacity: 0.8;
	padding: 5px;
}

#botonespricipales{
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	border-radius: 50px;
	background-color: #eebddb;
	position: relative;
	margin-top: 10px;
	margin-right: 5px;
	height: 40px; 
	margin-right: 5px;
	}

#botonespricipales ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	margin-left: 15px;
	margin-right: 35px;
}

#botonespricipales ul li{
	display: inline;
	margin: 5px;
	position: relative;
	}

#botonespricipales ul li a{
	display: inline-block;
	text-decoration: none;
	color: #000000;
	position: relative;
	overflow: hidden;
	padding-left: 10px;
}


a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: #eb59cb;
	transition: left .8s;
	}
#botonespricipales ul li a:hover{
	border-bottom: 3px solid #46083b
	
} 
	
	a:hover:after {
	left: 0;
	}

	.carrito-item{
	display: flex;
}

footer{ 

	background-color: #ff99cc;

}
#redessociles ul{

	margin:0;
	padding:0;
	list-style-type: none;
	padding-top: 15px;
	padding-right: 10px;
}

#redessociles ul li{
	display: inline;
	float: right;
}

#redessociles ul li a{
	display: inline-block;
	text-decoration: none;
	font-family: arial;
	margin: 3px;
	height: 50px;
	width: 140px;
	background-color: #ff66ff;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	border-radius: 80%;
}

#redessociles ul li a:hover {

	background-color: #ccffff;
}

.carrito{
	display: block;
}
.carrito-item{
	display: block;
}
.heder-carrito{
	background-color: #46083b;
	color: white;
	text-align: center;
}
.carrito-item-titulo{
text-align: center;
padding: 5px;

}
.selector-cantidad{
	display: flex;
	padding: 0;
	margin: 0;
	height: 25px;
}

.carrito-item-cantidad{
	width: 35px;
	margin-left: 5px;
}


.selector-cantidad i {

	width: 25px;
	height: 25px;
	line-height: 18px;
	align-content: center;
	background-color: antiquewhite;
	color: black;
	border: 1px solid #000000;
	text-align: center;
	margin-left: 5px;
	border-radius: 45%;
	padding-top: 3px;
	cursor: pointer;
	font-size: 15px;
}

.selector-cantidad i:hover{
	background-color: #ff66ff;
}

.carrito-item-detalles{
	display: inline-flex;
}
.carrito-item-precio {
	display: inline-block;
	margin: 0 3px 0 3px;
}